.cabecalhoFonts {
    font-size: 1.1em;
    font-family: Arial;
    margin: 4px;
    margin-left: 5px; 
}

.cabecalhoFonts2 {
    font-size: 0.9em;
    font-weight: normal;
    margin: 4px;
    margin-left: 10px; 
}

.divs-inlines {
    display: inline-block;
}

.cabecalho {
    background-color: #404e82;
    border-bottom: 4px solid #E1B26E;
}

.cabecalho2 {
    background-color:#BBCCDD ;
    border-bottom: 1px solid #8d9fdf;
}

.rodape {
    padding: 6px;
    background-color: #5d6a97;
    color: #fff;
    font-family: Verdana;
    font-size: 10px;
    height: 30px;
}

.menuEsquerda{
    height: 620px;
}

.menuEsquerdaTitle {
    color: #15428b;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding-top: 3px;
}

.menuEsquerdaContainer {
    background-color: #BBCCDD;
    border: 1px solid rgb(87, 143, 199);
}

.meio {
    border-top: 1px solid rgb(14, 111, 207); 
    border-left: 2px solid rgb(14, 111, 207); 
    border-right: 2px solid rgb(14, 111, 207); 
    border-bottom: 1px solid rgb(14, 111, 207); 
}

.meioFundo {
    margin: 10px 5px;
}